/**
 * @name Discord AMOblack
 * @version 1.0
 * @description Very dark theme, ideal for AMOLED displays.
 * For bug reports, use GitHub issues. Open our GitHub by using the Website button below.
 * @author TheChilliPL
 * @authorId 213903338251485185
 * @website https://github.com/TheChilliPL/discord-amoblack
 * @source https://github.com/TheChilliPL/discord-amoblack
 */

@import url("https://rawcdn.githack.com/TheChilliPL/discord-amoblack/blob/master/theme.css");