/**
 * @name Discord AMOblack
 * @version Development
 * @description Very dark theme, ideal for AMOLED displays.
 * For bug reports, use GitHub issues. Open our GitHub by using the Website button below.
 * @author TheChilliPL
 * @authorId 213903338251485185
 * @website https://github.com/TheChilliPL/discord-amoblack
 * @source https://github.com/TheChilliPL/discord-amoblack
 */

@import url("https://raw.githack.com/TheChilliPL/discord-amoblack/dev/src/theme.min.css");
