/**
 * @name Discord AMOblack (local)
 * @version 1.0
 * @description Very dark theme, ideal for AMOLED displays.
 * For bug reports, use GitHub issues. Open our GitHub by using the Website button below.
 * @author TheChilliPL
 * @authorId 213903338251485185
 * @website https://github.com/TheChilliPL/discord-amoblackf
 * @source https://github.com/TheChilliPL/discord-amoblackf
 */

html.theme-dark {
    --background-primary: #000;
    --background-secondary: #000;
    --background-secondary-alt: #000;
    --background-tertiary: #000;
    --background-accent: #000;
    --background-floating: #000;
    --channeltextarea-background: #000;
    --text-normal: #888;
    --text-link: #079;
    --header-primary: #888;
    --interactive-active: #888;
}

.da-wrapper > span.da-expandedFolderBackground {
    min-height: 48px;

    box-shadow: 0 0 0 1px #333;
}

.da-folderIconWrapper, .da-expandedFolderIconWrapper, .da-folder {
    background-color: transparent;
}

.da-scroller::-webkit-scrollbar, .da-uploadModal {
    background-color: #000 !important;
}

.da-scroller::-webkit-scrollbar-track {
    background-color: #000 !important;
    border-color: #000 !important;
}

.da-scroller::-webkit-scrollbar-track-piece {
    background-color: #000 !important;
    border-color: #000 !important;
    border-radius: 0 !important;
}

.da-container, .theme-dark .footer-3rDWdC, .da-message, .theme-dark .headerNormal-T_seeN, .da-bodyInner, .da-footer {
    background-color: #000 !important;
}

.da-wrapper.guilds-1SWlCJ, .da-sidebar, .da-members, .da-message .da-imageWrapper img, .da-channelTextArea button, .da-chat > .da-title, img.emoji, .hljs {
    filter: brightness(30%);

    transition: 300ms filter ease-in-out;
}

.da-wrapper.guilds-1SWlCJ:hover, .da-sidebar:hover, .da-members:hover, .da-message .da-imageWrapper img:hover, .da-channelTextArea button:hover, .da-chat > .da-title:hover, img.emoji:hover, .hljs:hover {
    filter: brightness(70%);
}

.da-channelTextArea .da-webkit {
    border: 1px #333 solid;
    border-radius: 25px;
}

.da-zalgo .da-avatar::after {
    content: '';

    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    transition: 300ms background-color ease-in-out;
}

.da-zalgo .da-avatar:hover::after {
    background-color: rgba(0, 0, 0, 0.3);
}

.da-unread.da-container {
    background-color: transparent !important;
}

.theme-dark .body-3iLsc4 {
    background-color: #000;
}

.textarea-2r0oV8, .textarea-2r0oV8:hover {
    border: 1px #333 solid;
}

.theme-dark .wrapper-1-Fsb8 {
    background-color: #000;
}

.theme-dark .root-1gCeng {
    background-color: #000;
}

.authedApp-mj2Hmd {
    border: 1px #333 solid;
}

.theme-dark .paymentPane-3bwJ6A,
.theme-dark .paginator-166-09,
.theme-dark .payment-xT17Mq {
    background-color: #000;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
    background-color: #000;
}

.input-2VB9rf {
    background-color: #000;
    border: 1px #333 solid;
}

.theme-dark .headerClickable-2IVFo9,
.theme-dark .headerDefault-1wrJcN {
    background: none;
}

.theme-dark .tierHeaderLocked-1a2opw {
    background-color: #000;
    border: 1px #333 solid;
}

.theme-dark .tierBody-x9kBBp {
    background-color: #000;
    border: 1px #333 solid;
    border-top: 0;
}

/* Member count plugin support */
.theme-dark #MemberCount {
    background-color: #000;
}