/**
 * @name Discord AMOblack (local)
 * @version 1.2-pre1
 * @description Very dark theme, ideal for AMOLED displays.
 * For bug reports, use GitHub issues. Open our GitHub by using the Website button below.
 * @author TheChilliPL
 * @authorId 213903338251485185
 * @website https://github.com/TheChilliPL/discord-amoblack
 * @source https://github.com/TheChilliPL/discord-amoblack
 */
html.theme-dark {
  --background-primary: #000;
  --background-secondary: #000;
  --background-secondary-alt: #000;
  --background-tertiary: #000;
  --background-accent: #000;
  --background-floating: #000;
  --channeltextarea-background: #000;
  --text-normal: #888;
  --text-link: #079;
  --header-primary: #888;
  --interactive-active: var(--text-normal);
  --background-modifier-active: transparent;
  --interactive-selected: var(--text-normal);
  --background-modifier-selected: transparent;
  --interactive-hover: var(--text-normal);
  --background-modifier-hover: transparent;
  --deprecated-text-input-bg: #000;
  --deprecated-text-input-border: #666;
  --background-mentioned-hover: transparent;
  --ab--selected: #666;
  --ab--hover: #444;
  --ab--border: #222;
}
html.theme-dark .selected-aXhQR6 .layout-2DM8Md {
  position: relative;
}
html.theme-dark .selected-aXhQR6 .layout-2DM8Md::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px var(--ab--selected) solid;
  border-radius: 5px;
  pointer-events: none;
}
html.theme-dark .clickable-1JJAn8.container-2Pjhx-:hover, html.theme-dark .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i {
  position: relative;
}
html.theme-dark .clickable-1JJAn8.container-2Pjhx-:hover::before, html.theme-dark .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px var(--ab--hover) solid;
  border-radius: 5px;
  pointer-events: none;
}
html.theme-dark .modeSelected-346R90 .content-1x5b-n, html.theme-dark .modeSelected-346R90:hover .content-1x5b-n {
  position: relative;
}
html.theme-dark .modeSelected-346R90 .content-1x5b-n::before, html.theme-dark .modeSelected-346R90:hover .content-1x5b-n::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px var(--ab--selected) solid;
  border-radius: 5px;
  pointer-events: none;
}
html.theme-dark .wrapper-2jXqOf:hover .content-1x5b-n {
  position: relative;
}
html.theme-dark .wrapper-2jXqOf:hover .content-1x5b-n::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px var(--ab--hover) solid;
  border-radius: 5px;
  pointer-events: none;
}
html.theme-dark .expandedFolderBackground-2sPsd- {
  min-height: 48px;
  pointer-events: none;
}
html.theme-dark .expandedFolderBackground-2sPsd-::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px var(--ab--border) solid;
  border-radius: 24px;
  pointer-events: none;
  z-index: 1000;
}
html.theme-dark .expandedFolderBackground-2sPsd-.collapsed-1GMuSb::before {
  border-radius: 17px;
}
html.theme-dark .embedFull-2tM8-- {
  border: 1px solid var(--ab--border);
  border-left-width: 4px;
}
html.theme-dark .embedFull-2tM8-- .embedMedia-1guQoW {
  margin-top: 5px;
}
html.theme-dark .mentioned-xhSam7 {
  background-color: transparent;
  position: relative;
}
html.theme-dark .mentioned-xhSam7::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px #faa61a solid;
  border-radius: 5px;
  pointer-events: none;
  border-left-width: 4px;
}
html.theme-dark .buttons-cl5qTG .wrapper-2aW0bm {
  border: 1px var(--ab--border) solid;
}
html.theme-dark .menu-3sdvDG {
  border: 1px var(--ab--border) solid;
}
html.theme-dark .drawerSizingWrapper-17Mss4 {
  border: 1px var(--ab--border) solid;
}
html.theme-dark .modal-3c3bKg .inner-1ilYF7 {
  border: 1px var(--ab--border) solid;
}
html.theme-dark .titleBar-AC4pGV {
  border-bottom: 1px var(--ab--border) solid;
}
html.theme-dark .guilds-1SWlCJ {
  width: 71px;
  border-right: 1px var(--ab--border) solid;
}
html.theme-dark .sidebar-2K8pFh {
  border-right: 1px var(--ab--border) solid;
}
html.theme-dark .title-3qD0b- {
  border-bottom: 1px var(--ab--border) solid;
}
html.theme-dark .members-1998pB {
  border-left: 1px var(--ab--border) solid;
}
html.theme-dark .header-2o-2hj, html.theme-dark .searchBar-6Kv8R2 {
  border-bottom: 1px var(--ab--border) solid;
}
html.theme-dark .searchBar-6Kv8R2 {
  height: 47px;
}
html.theme-dark .hasBanner-14PPlG .header-2o-2hj {
  border-bottom: none;
}
html.theme-dark .panels-j1Uci_ {
  border-top: 1px var(--ab--border) solid;
}
html.theme-dark .form-2fGMdU {
  padding: 0;
  border-top: 1px var(--ab--border) solid;
}
html.theme-dark .channelTextArea-rNsIhG {
  margin: 4px 0 5px;
}
html.theme-dark .wrapper-39oAo3 {
  margin-bottom: 1px;
}
html.theme-dark .tooltipPointer-3ZfirK {
  border-top-color: var(--ab--selected);
}
html.theme-dark .tooltipContent-bqVLWK {
  border: 1px var(--ab--selected) solid;
}
html.theme-dark .blobContainer-239gwq,
html.theme-dark .closedFolderIconWrapper-15K9MK,
html.theme-dark .message-2qnXI6 .imageWrapper-2p5ogY {
  position: relative;
}
html.theme-dark .blobContainer-239gwq::before,
html.theme-dark .closedFolderIconWrapper-15K9MK::before,
html.theme-dark .message-2qnXI6 .imageWrapper-2p5ogY::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  pointer-events: none;
}
html.theme-dark .container-1D34oG {
  background: var(--background-primary);
}
html.theme-dark .root-1gCeng {
  background: var(--background-primary);
}
html.theme-dark .footer-2gL1pp {
  background: var(--background-secondary);
}
html.theme-dark .friendSelected-1sa4bG {
  background: var(--background-modifier-selected);
  position: relative;
}
html.theme-dark .friendSelected-1sa4bG::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px var(--ab--selected) solid;
  border-radius: 5px;
  pointer-events: none;
}
html.theme-dark .headerNormal-T_seeN {
  background: var(--background-tertiary);
}
html.theme-dark .body-3iLsc4, html.theme-dark .footer-1fjuF6 {
  background: var(--background-secondary);
}
html.theme-dark .uploadModal-2ifh8j {
  background: var(--background-primary);
}
html.theme-dark .footer-3mqk7D {
  background: var(--background-secondary);
}
html.theme-dark .typing-2GQL18 {
  bottom: 100%;
}
html.theme-dark .container-3ayLPN {
  background: var(--background-primary);
  border: 1px var(--ab--border) solid;
}
html.theme-dark .option-96V44q.selected-rZcOL- {
  background: var(--background-secondary);
  border: 1px var(--ab--selected) solid;
}
html.theme-dark .option-96V44q::after, html.theme-dark .option-96V44q.selected-rZcOL-::after {
  background: transparent;
}
html.theme-dark #MemberCount {
  background: var(--background-secondary);
}
html.theme-dark .chatCounter-XOMPsh {
  bottom: 0;
  right: 120px;
  color: var(--ab--hover);
}
html.theme-dark .bf-toolbar::before {
  background: var(--background-accent);
  border: 1px var(--ab--selected) solid;
}

/*# sourceMappingURL=theme.css.map */
